/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --button-text-color: #FF0070;
  --small-title-color: #FF0070;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --rec-color: #FF0070;
  --accent-color: #FF0070;
  --button-frame-color: rgb(255 0 112/ 0.4);
  --corner-element-color: #FF0070;
  --shadow-color: #FF0070;
  --box-shadow-color: rgb(255 0 112/ 0.6);
  --link-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --button-color: #FF0070;
  --bg-image: url(/images/cover-image-dark.png);
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}
