.page.theme_light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --button-text-color: #353430;
  --small-title-color: #353430;
  --text-color: #353430;
  --subtitle-color: #353430;
  --accent-color: #FF8DCB; 
  --button-hover-frame-color: rgb(53 52 48/ 0.4);
  --button-frame-color: #353430;
  --corner-element-color: #353430;   
  --shadow-color: #FF8DCB;
  --link-color: #353430;
  --link-shadow-color: #FF8DCB;
  --button-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --button-text-color: #353430;
    --small-title-color: #353430;
    --text-color: #353430;
    --subtitle-color: #353430;
    --accent-color: #FF8DCB; 
    --button-hover-frame-color: rgb(53 52 48/ 0.4);
    --button-frame-color: #353430;
    --corner-element-color: #353430;   
    --shadow-color: #FF8DCB;
    --link-color: #353430;
    --link-shadow-color: #FF8DCB;
    --button-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
  .header__rec {
    visibility: hidden;
  }
}

.page.theme_light .header__rec {
  visibility: hidden;
}